###############################################################################
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileType: OTHER
# SPDX-FileCopyrightText: (c) 2022, OpenGateware authors and contributors
###############################################################################
---
Checks: '-*,
cert-con54-cpp,
cert-dcl21-cpp,
cert-dcl58-cpp,
cert-err34-c,
cert-err52-cpp,
cert-err58-cpp,
cert-err60-cpp,
cert-exp42-c,
cert-flp30-c,
cert-flp37-c,
cert-msc50-cpp,
cert-msc51-cpp,
cert-str34-c,
###############################################################################
cppcoreguidelines-interfaces-global-init,
cppcoreguidelines-narrowing-conversions,
cppcoreguidelines-pro-type-member-init,
cppcoreguidelines-pro-type-static-cast-downcast,
cppcoreguidelines-slicing,
cppcoreguidelines-virtual-class-destructor,
###############################################################################
google-default-arguments,
google-explicit-constructor,
google-runtime-operator,
###############################################################################
hicpp-exception-baseclass,
hicpp-multiway-paths-covered,
###############################################################################
mpi-buffer-deref,
mpi-type-mismatch,
###############################################################################
openmp-use-default-none,
###############################################################################
abseil-*,
###############################################################################
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-reserved-identifier,
###############################################################################
performance-*,
###############################################################################
misc-*,
-misc-no-recursion,
-misc-non-private-member-variables-in-classes,
###############################################################################
modernize-*,
-modernize-avoid-c-arrays
###############################################################################
portability-*,
###############################################################################
-abseil-string-find-str-contains
###############################################################################
readability-*,
-readability-identifier-length,
-readability-container-contains,
-readability-implicit-bool-conversion,
-readability-magic-numbers,
-readability-function-cognitive-complexity,
-readability-simplify-boolean-expr,
-readability-else-after-return,
-readability-uppercase-literal-suffix,
-readability-isolate-declaration,

#-readability-duplicate-include,
#-readability-function-size,
#-readability-identifier-length,
#-readability-identifier-naming,
#-readability-named-parameter,
#-readability-qualified-auto,
#-readability-redundant-access-specifiers,
#-readability-redundant-preprocessor,
'
